<h2>Mortal Enemiez</h2>

<div>
	<h3>Npc Attack Commitment</h3>

<div>
  <input type="radio" ng-model="settings.MortalEnemiezPatcher.attackCommitment" id="none" name="attackCommitment" value="0"
         checked>
  <label for="none">No Attack Commitment for npcs(non-creatures)</label>
</div>

<div>
  <input type="radio" ng-model="settings.MortalEnemiezPatcher.attackCommitment" id="original" name="attackCommitment" value="1">
  <label for="original">Original Npc Attack Commitment</label>
</div>
 
<div>
  <input type="radio" ng-model="settings.MortalEnemiezPatcher.attackCommitment" id="rivalRemix" name="attackCommitment" value="2">
  <label for="rivalRemix">Rival Remix Attack Commitment</label>
</div>

	
</div>
